<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{AppName}} :: v{{AppVer}}</title>
		<script type="text/javascript">
			const STRIPE_PUBLISH_KEY='{{GoGetenv "STRIPE_PUBLISH_KEY"}}';
		</script>
	</head>
	<body>
		<div id="root">Load JSX Here</div>
		<script src="https://js.stripe.com/v3/"></script>
		<script src="/checkout.js"></script>
	</body>
</html>
